.catalog-main {
  display: flex;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  &__item {
    // background-color: $color-mirage;
    min-height: 400px;
  }
}
