.filter {
  width: 300px;
  flex-shrink: 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__form-item {
    border-top: 2px solid $color-monza;

    &:not(:last-child) {
      margin-bottom: 74px;
    }
  }

  &__form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-name {
    width: 100%;
    font-weight: 800;
    font-size: 18px;
    line-height: 139%;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-mirage;

    p {
      margin: 0;
      padding-top: 16px;
      padding-bottom: 25px;
      cursor: pointer;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding-top: 16px;
    padding-bottom: 25px;
  }

  &__btn-reset {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    height: 25px;
    color: $color-monza;
    cursor: pointer;
  }
}
