.load {
  &__btn {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: $color-monza;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: font-weight $trans-font;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        font-weight: 700;
      }
    }
  }
}
